{{ ansible_managed | comment }}

[Unit]
Description=CoreDNS
Documentation=https://coredns.io
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
PermissionsStartOnly=true
LimitNOFILE=1048576
LimitNPROC=512
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true

User={{ coredns_system_user }}
Group={{ coredns_system_group }}
ExecStart=/usr/local/bin/coredns \
    -conf /etc/coredns/Corefile \
    -dns.port "{{ coredns_dns_port }}"

SyslogIdentifier=coredns
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=always
RestartSec=0

CapabilityBoundingSet=CAP_SET_UID
LockPersonality=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
PrivateTmp=true
ProtectHome=true
RemoveIPC=true
RestrictSUIDSGID=true

{% if coredns_systemd_version | int >= 232 %}
PrivateUsers=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes
ProtectSystem=strict
{% else %}
ProtectSystem=full
{% endif %}

[Install]
WantedBy=multi-user.target
