{{ ansible_managed | comment }}

[Unit]
Description=CoreDNS
Documentation=https://coredns.io
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
PermissionsStartOnly=true
LimitNOFILE=1048576
LimitNPROC=512
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
WorkingDirectory=/etc/coredns

User={{ coredns_system_user }}
Group={{ coredns_system_group }}
ExecStart=/usr/local/bin/coredns \
    -conf /etc/coredns/Corefile \
    -dns.port "{{ coredns_dns_port }}"

SyslogIdentifier=coredns
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
