---
- name: Run role
  hosts: all
  any_errors_fatal: true
  roles:
    - cloudalchemy.coredns
  vars:
    coredns_binary_local_dir: "/tmp"
    coredns_config_file: "Corefile.example.j2"
    coredns_dns_port: 5300
    coredns_system_group: "different"
    coredns_system_user: "different"
